* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main {
    margin: 100px auto;
    width: 300px;
    height: 100px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#minus, #plus {
    width: 50px;
    height: 50px;
}

#showCount {
    width: 100px;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}